<head>
	<title>Gym Buddy</title>
</head>
<body>
	<link rel="stylesheet" type="text/css" href="css/style.css" />
	<script src="https://kit.fontawesome.com/c89c07586f.js" crossorigin="anonymous"></script>
