<div class="page-header">
	<a href="/settings"><div class="header-button"><i class="fas fa-cog"></i> Settings</div></a>
	<a href="#" class="flex-push"><div class="header-button"><i class="far fa-calendar-plus"></i> Schedule</div></a>
</div>
