<div class="page-header">
	<a href="/settings"><div class="header-button">Settings</div></a>
	<a href="#"><div class="header-button">Schedule</div></a>
	<a href="/"><div class="header-button">Home</div></a>
</div>
