<% include includes/header.ejs %>
<% include includes/nav-header-norm.ejs %>
<div class="page-content">
    <a href=/workout>
        <img src="image/exercise.png" height=750 width = 500/>
    </a>
</div>
<% include includes/footer.ejs %>