<head>
	<title>Gym Buddy</title>
</head>
<body>
	<link rel="stylesheet" type="text/css" href="css/style.css" />
	<div class="page-header">
		<a href="/settings"><div class="header-button">Settings</div></a>
		<a href="#"><div class="header-button">Schedule</div></a>
		<a href="/"><div class="header-button">Home</div></a>
	</div>
	<div class="page-content">
		<div class="exercise-title">Exercise Name</div>
		<div class="exercise-attribute-todo">

			<div class="attribute-todo-item">
				<div class="attribute-todo-header">
					Running
				</div>
				<div class="attribute-todo-body">
					<input type="text"/>
				</div>
			</div>

			<div class="attribute-todo-item">
				<div class="attribute-todo-header">
					Exercise Biking
				</div>
				<div class="attribute-todo-body">
					<input type="text"/>
				</div>
			</div>

			<a href="#">
			<div class="attribute-todo-item">
				<div class="attribute-todo-button">
					Add Attribute
				</div>
			</div>
			</a>

		<div>
	</div>
</body>
