<% include includes/header.ejs %>
<% include includes/nav-header-norm.ejs %>
<div class="page-content">
	<div class="exercise-title">Exercise Name</div>
	<div class="exercise-attribute-todo">

		<div class="attribute-todo-item">
			<div class="attribute-todo-header">
				Running
			</div>
			<div class="attribute-todo-body">
				<input type="text"/>
			</div>
		</div>

		<div class="attribute-todo-item">
			<div class="attribute-todo-header">
				Exercise Biking
			</div>
			<div class="attribute-todo-body">
				<input type="text"/>
			</div>
		</div>

		<a href="#">
		<div class="attribute-todo-item">
			<div class="attribute-todo-button">
				Add Attribute
			</div>
		</div>
		</a>

	<div>
</div>
<% include includes/footer.ejs %>
