<% include includes/header.ejs %>
<% include includes/nav-header-main.ejs %>
<div class="page-content">
	<div class="page-title">GYMBUDDY</div>
	<div class="todo-list">

		<a href="/workout">
		<div class="todo-item workout-todo-item">
			<div class="todo-header">
				Monday Workout
			</div>
			<div class="todo-body">
				<ul>
					<li>Exercise 1</li>
					<li>Exercise 2</li>
				</ul>
			</div>
		</div>
		</a>

		<a href="/workout">
		<div class="todo-item workout-todo-item">
			<div onclick="/workout" class="todo-header">
				Thursday Workout
			</div>
			<div class="todo-body">
				<ul>
					<li>Exercise 1</li>
					<li>Exercise 2</li>
				</ul>
			</div>
		</div>
		</a>

		<div class="todo-button-region">
			<a href="/presets">
			<div class="todo-button workout-todo-item">
				<i class="fas fa-book"></i> View Presets
			</div>
			</a>
			<a href="/stats">
			<div class="todo-button workout-todo-item">
				<i class="fas fa-chart-line"></i> View Statistics
			</div>
			</a>
		</div>

	<div>
</div>
<% include includes/footer.ejs %>
