<head>
	<title>Gym Buddy</title>
</head>
<body>
	<link rel="stylesheet" type="text/css" href="css/style.css" />
	<div class="page-header">
		<div class="header-button"><a href="/settings">Settings</a></div>
		<div class="header-button"><a href="#">Schedule</a></div>
	</div>
	<div class="page-content">
		<div class="home-day-selector">SMTWRFS</div>
		<div class="home-workout-todo">

			<div class="workout-todo-item">
				<div class="workout-todo-header">
					Monday Workout
				</div>
				<div class="workout-todo-body">
					<ul>
						<li>Exercise 1</li>
						<li>Exercise 2</li>
					</ul>
				</div>
			</div>

			<div class="workout-todo-item">
				<div class="workout-todo-header">
					Thursday Workout
				</div>
				<div class="workout-todo-body">
					<ul>
						<li>Exercise 1</li>
						<li>Exercise 2</li>
					</ul>
				</div>
			</div>

		<div>
	</div>
</body>
