<% include includes/header.ejs %>
<% include includes/nav-header-norm.ejs %>
<div class="page-content">
	<div class="settings-title">General Settings</div>
	<div class="settings-list">
		<a href="#">
		<div class="setting-item">
			<div class="setting-name">
				Setting 1
			</div>
			<div class="setting-value">
			</div>
		</div>
    </a>

		<a href="#">
		<div class="setting-item">
			<div class="setting-name">
				Setting 2
			</div>
			<div class="setting-value">
			</div>
		</div>
    </a>

		<a href="#">
		<div class="setting-item">
			<div class="setting-name">
				Setting 3
			</div>
			<div class="setting-value">
			</div>
		</div>
    </a>
	</div>
	<div class="settings-title">Accessibility Settings</div>
	<div class="settings-list">
		<a href="#">
		<div class="setting-item">
			<div class="setting-name">
				Color Theme
			</div>
			<div class="setting-value">
				Normal
			</div>
		</div>
    </a>

		<a href="#">
		<div class="setting-item">
			<div class="setting-name">
				Font Size
			</div>
			<div class="setting-value">
				Normal
			</div>
		</div>
		</a>
	<div>
</div>
<% include includes/footer.ejs %>
