<% include includes/header.ejs %>
<% include includes/nav-header-norm.ejs %>
<div class="page-content">
	<div class="page-title">Share Workout</div>
	<div class="todo-list">

			<div style="width: 100%; overflow: visible;">
					<div style="width: 200px; float: left;"> 
					<div class="share">
					<a href="http://facebook.com">
				<img src="image/facebook.jpg">
			  </a>
				</div>
					</div>

					<div style="margin-left: 50; float: left;"> 				
				<div class="share">
						<a href="http://twitter.com">
						  <img src="image/twitter.png">
						</a>
						</div>
					</div>

					<div style="margin-left: 500; "> 
							<div class="share">
									<a href="http://gmail.com">
									  <img src="image/email.png">
									</a>
									</div>
								</div>
					</div>
				</div>

		
			
			  
			</a>

	<div>
</div>
<% include includes/footer.ejs %>
