<% include includes/header.ejs %>
<% include includes/nav-header-norm.ejs %>
<div class="page-content">
	<div class="page-title">Share Workout</div>
	<div class="todo-list">

		<div class="todo-button-region">
			<a href="http://facebook.com">
				<img src="../public/image/facebook.jpg">
			  </a>
			  <a href="http://twitter.com">
				<img src="../public/image/twitter.png">
			  </a>
			  <a href="http://facebook.com">
				<img src=".../public/image/email.png">
			  </a>
			</a>
		</div>

	<div>
</div>
<% include includes/footer.ejs %>
