<% include includes/header.ejs %>
<% include includes/nav-header-norm.ejs %>
<div class="page-content">
	<div class="page-title">Statistics</div>
	<div class="todo-list">

		<div class="todo-item stats-item">
			<div class="todo-header">
				Running Stats
			</div>
			<div class="todo-body">
				<ul>
					<li>Distance: 1 mile</li>
					<li>Time: 00:06:34</li>
				</ul>
			</div>
		</div>

		<div class="todo-item stats-item">
			<div class="todo-header">
				Biking Stats
			</div>
			<div class="todo-body">
				<ul>
					<li>Total Distance: 2 miles</li>
					<li>Average Time: 15 minutes</li>
					<li>Average Resistance: 4</li>
				</ul>
			</div>
		</div>
	<div>
</div>
<% include includes/footer.ejs %>
