<head>
	<title>Gym Buddy</title>
</head>
<body>
	<link rel="stylesheet" type="text/css" href="css/style.css" />
	<div class="page-header">
		<a href="/settings"><div class="header-button">Settings</div></a>
		<a href="#"><div class="header-button">Schedule</div></a>
		<a href="/"><div class="header-button">Home</div></a>
	</div>
	<div class="page-content">
		<div class="workout-title">Workout Name</div>
		<div class="workout-exercise-todo">

			<a href="/exercise">
			<div class="exercise-todo-item">
				<div class="exercise-todo-header">
					Running
				</div>
				<div class="exercise-todo-body">
					<ul>
						<li>Distance: 1 mile</li>
						<li>Time: 00:06:34</li>
					</ul>
				</div>
			</div>
			</a>

			<a href="/exercise">
			<div class="exercise-todo-item">
				<div class="exercise-todo-header">
					Exercise Biking
				</div>
				<div class="exercise-todo-body">
					<ul>
						<li>Distance: 2 miles</li>
						<li>Time: 15 minutes</li>
						<li>Resistance: 4</li>
					</ul>
				</div>
			</div>
			</a>

		<div>
	</div>
</body>
