<% include includes/header.ejs %>
<% include includes/nav-header-norm.ejs %>
<div class="page-content">
	<div class="workout-title">Workout Name</div>
	<div class="workout-exercise-todo">

		<a href="/exercise">
		<div class="todo-item exercise-todo-item">
			<div class="todo-header exercise-todo-header">
				Running
			</div>
			<div class="todo-body exercise-todo-body">
				<ul>
					<li>Distance: 1 mile</li>
					<li>Time: 00:06:34</li>
				</ul>
			</div>
		</div>
		</a>

		<a href="/exercise">
		<div class="todo-item exercise-todo-item">
			<div class="todo-header exercise-todo-header">
				Exercise Biking
			</div>
			<div class="todo-body exercise-todo-body">
				<ul>
					<li>Distance: 2 miles</li>
					<li>Time: 15 minutes</li>
					<li>Resistance: 4</li>
				</ul>
			</div>
		</div>
		</a>

		<div class="todo-button-region">
			<a href="#">
			<div class="todo-button exercise-todo-item">
				<i class="fas fa-book-medical"></i> Apply Preset
			</div>
			</a>
			<a href="#">
			<div class="todo-button exercise-todo-item">
				<i class="fas fa-plus"></i> Add Exercise
			</div>
			</a>
			<a href="#">
			<div class="todo-button exercise-todo-item">
				<i class="fas fa-share"></i> Share Workout
			</div>
			</a>
		</div>

	<div>
</div>
<% include includes/footer.ejs %>
